---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="LG Dryer Repair in Orange County | +1 (323) 990-7550">
    <div style="max-width:680px; max-height:680px; margin:0 auto 0 auto;">
        <img class="responsiveimg"  
        alt="Expert LG dryer repair in Orange County"
        src="/../images/lg-dryer-repair-orange-county.webp" width="600" height="600">
    </div><br>
    <div class="maintext">
       
       <p> test</p>
    </div> </footer>
  </main>
</Layout>
